<div class="employee-form">

  <h2>
    {{ isEditMode ? 'Edit Employee' : 'Add Employee' }}
  </h2>

  <div *ngIf="loading()">
    Loading employee...
  </div>

  <form
    *ngIf="!loading()"
    (ngSubmit)="saveEmployee()"
  >

    <div>
      <label>Id</label>

      <input
        type="number"
        [ngModel]="employee().id"
        (ngModelChange)="employee.set({
          ...employee(),
          id: $event
        })"
        name="id"
        [disabled]="isEditMode"
      />
    </div>


    <div>
      <label>Name</label>

      <input
        type="text"
        [ngModel]="employee().name"
        (ngModelChange)="employee.set({
          ...employee(),
          name: $event
        })"
        name="name"
        required
      />
    </div>


    <div>
      <label>Email</label>

      <input
        type="email"
        [ngModel]="employee().email"
        (ngModelChange)="employee.set({
          ...employee(),
          email: $event
        })"
        name="email"
        required
      />
    </div>


    <div>
      <label>Department</label>

      <input
        type="text"
        [ngModel]="employee().department"
        (ngModelChange)="employee.set({
          ...employee(),
          department: $event
        })"
        name="department"
        required
      />
    </div>


    <div>
      <label>Salary</label>

      <input
        type="number"
        [ngModel]="employee().salary"
        (ngModelChange)="employee.set({
          ...employee(),
          salary: $event
        })"
        name="salary"
        required
      />
    </div>


    <br>

    <button type="submit">
      {{ isEditMode ? 'Update Employee' : 'Add Employee' }}
    </button>

    <button
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>

  </form>

</div>